*{
    margin: 0;
    padding: 0; 
    text-transform: capitalize;
}
/* navigation bar design start here */
nav {
    background-color: #1a1244;
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    border-bottom: 4px solid #401E63;
    position: sticky;
    top: 0;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    margin: 10px 5px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .5s;
}
nav ul li a:hover{
    background-color: black;
    color: red;
}
nav div{
    color: #fff;
    font-size: 20px;
    margin-top: 2px;
}
/* navigation bar design end */

/* header design start */
header{
    background-image: url('img/website\ banner.jpg');
    padding: 200px 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.searchbox-parent{
    display: flex;
    justify-content: center;
    align-items: center;

}
.searchbox-parent i{
    color: red;
    background-color: green;
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 23px;
    margin-left: -10px;
    cursor: pointer;
}
.searchbox-parent input{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 20px;
    outline: none;
}
/* header design end */
/* main section code start here */
main{
    background-color: #2D236A;
    padding-top: 20px;
    padding-bottom: 50px;
}
#main-section{
    width: 1100px;
    margin: 0px auto;
    padding: 50px 0px;
}
#letest-video-parent{
    display: flex;
    justify-content: space-between;
}
.letest-video-text{
    font-size: 25px;
    color: #04AA6D;
}
.letest-video-pages{
    color: #04AA6D;

}
.letest-video-pages span{
    color: black;
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid gray;
    margin: 0px 10px;
}

.single-item-parent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 30px;
    margin-top: 25px;
}
.single-card-div{
    height: 250px;
    border: 3px solid gray;
    /* overflow: hidden; */
}
.single-card-div img{
    width: 100%;
    height: 100%;
    transition: .5s;
}
.single-card-div:hover img{
    transform: scale(1.1);
    border-radius: 20px;
}
.single-card-div div{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #fff;
}
/* previous & next button code start here */
#previous-next-parent{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
#previous-next-parent h3 a{
    background-color: #04AA6D;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}
#previous-next-parent h3 a:hover{
    background-color: #097c52;
}
#previous-next-parent a{
    text-decoration: none;
    color: #fff;
}
#previous-next-parent div a{
    background-color: antiquewhite;
    padding: 8px;
    color: black;
    margin: 0px 10px;
    border-radius: 5px;
    border: 1px solid gray;
}
#previous-next-parent div a:first-child{
    background-color: #04AA6D;
    color: #fff;
}
/* footer code start here  */
footer{
    background-color: #5F1E69;
    color: #FFF;
}

#footer-container{
    width: 900px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}
#footer-firstitem h3{
    font-size: 25px;
    padding: 30px 0;
    margin-top: 20px;
}
#footer-firstitem:first-child p{
    margin-bottom: 50px;
}
#footer-seconditem h3{
    font-size: 25px;
    padding: 30px 0;
    margin-top: 20px;
}
#footer-seconditem a{
    color: #fff;
    text-decoration: none;
}
#footer-seconditem p{
    margin-bottom: 10px;
}
#footer-thirditem div{
    font-size: 25px;
    padding: 30px 0;
    margin-top: 20px;
}
#footer-thirditem a{
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    background-color: #1a1244;
    padding: 10px;
    border-radius: 10px;
}
#footer-thirditem p{
    margin-bottom: 10px;
}
#footer-thirditem p:nth-child(4){
    margin-top: 70px;
}