*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    text-decoration: none;
}
/* navbar design start */
nav {
    background-color: #1a1244;
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    border-bottom: 4px solid #401E63;
    position: sticky;
    top: 0;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    margin: 10px 5px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .5s;
}
nav ul li a:hover{
    background-color: black;
    color: red;
}
nav div{
    color: #fff;
    font-size: 20px;
    margin-top: 2px;
}
/* navbar end */
.about-section{
    width: 900px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
    height: 500px;
    box-shadow: 5px 5px 5px 5px grey;
}
.about-section:hover{
    
}
.h2{
    font-size: 45px;
    color: blue;
    margin-left: 10px;
}
.p{
    padding: 20px 0;
    text-align: justify;
    font-size: 20px;
    color: rgb(128, 128, 128);
    margin-left: 10px;
}
a{
    color: coral;
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
}
.img-div{
    width: 500px;
}
.img-div img{
    width: 100%;
    height: 100%;
}
/* footer section start */
footer{
    background-color: #5F1E69;
    color: #FFF;
}

#footer-container{
    width: 900px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}
#footer-firstitem h3{
    font-size: 25px;
    padding: 30px 0;
    margin-top: 20px;
}
#footer-firstitem:first-child p{
    margin-bottom: 50px;
}
#footer-seconditem h3{
    font-size: 25px;
    padding: 30px 0;
    margin-top: 20px;
}
#footer-seconditem a{
    color: #fff;
    text-decoration: none;
}
#footer-seconditem p{
    margin-bottom: 10px;
}
#footer-thirditem div{
    font-size: 25px;
    padding: 30px 0;
    margin-top: 20px;
}
#footer-thirditem a{
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    background-color: #1a1244;
    padding: 10px;
    border-radius: 10px;
}
#footer-thirditem p{
    margin-bottom: 10px;
}
#footer-thirditem p:nth-child(4){
    margin-top: 70px;
}